<footer id="Footer" class="footer-background">
  <div class="container">
    <div class="footer-container">
      <p class="footer-slogan">
        <span class="footer-chocolate">Chocolate</span> a delicious cure for a bad day
      </p>
      <div class="footer-info">
        <address>
          <p class="footer-contact-us">Contact us</p>
          <ul class="footer-tel-email">
            <li>
              <a class="footer-contact" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li>
              <a class="footer-contact" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>
        <ul class="footer-sm-flex">
          <li>
            <a href="#">
              <svg class="footer-svg" width="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="footer-svg" width="22" height="22">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul class="footer-nav-flex">
        <li>
          <a class="footer-nav" href="./index.html">Home</a>
        </li>
        <li>
          <a class="footer-nav" href="#him-section">How it&#180;s made?</a>
        </li>
        <li>
          <a class="footer-nav" href="#Our-products">Our products</a>
        </li>
        <li>
          <a class="footer-nav" href="#Top-sellers">Top sellers</a>
        </li>
        <li>
          <a class="footer-nav" href="#Chocolate-is-loved">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
