<header class="header" id="header">
  <div class="container header-container">
    <nav class="header-nav-container">
      <a href="./index.html" class="header-logo link"
        >Simply<span class="chocolate">Chocolate</span>
        <svg width="21" height="21" class="header-logo-svg">
          <use href="./images/icons.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="header-nav-links list">
        <li><a href="./index.html" class="link">Home</a></li>
        <li><a href="#him-section" class="link">How it's made?</a></li>
        <li><a href="#Our-products" class="link">Our products</a></li>
        <li><a href="#Top-sellers" class="link">Top sellers</a></li>
        <li><a href="#Chocolate-is-loved" class="link">Chocolate is loved</a></li>
      </ul>
    </nav>
    <div class="header-sm-container">
      <ul class="list header-sm-links">
        <li>
          <a href="#" class="link">
            <svg width="24" height="24" class="header-sm-svg">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <svg width="24" height="24" class="header-sm-svg">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="js-open-menu" type="button">
      <svg width="28" height="28" class="header-menu">
        <use href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu js-menu-container">
  <button type="button" class="js-close-menu header-modal-button">
    <svg width="28" height="28" class="x-button">
      <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <nav class="header-nav-mobile">
    <ul class="nav-mobile list">
      <li><a href="./index.html" class="link">Home</a></li>
      <li><a href="#him-section" class="link">How it's made?</a></li>
      <li><a href="#Our-products" class="link">Our products</a></li>
      <li><a href="#Top-sellers" class="link">Top sellers</a></li>
      <li><a href="#Chocolate-is-loved" class="link">Chocolate is loved</a></li>
    </ul>
  </nav>
  <div class="header-sm-mobile">
    <ul class="list sm-mobile">
      <li>
        <a href="#" class="link">
          <svg width="22" height="22" class="sm-svg-mobile">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="link">
          <svg width="20" height="20" class="sm-svg-mobile">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
