<section class="hero container">
  <div class="hero-container">
    <h2 class="hero-sub-title">
      Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
    </h2>
    <div class="hero-btns-container">
      <div class="hero-main-btns">
        <button class="hero-buy-btn show-modal" type="button" data-modal-open>Buy now</button>
        <a class="hero-link" href="#him-section">How it's made</a>
      </div>
      <div class="hero-scroll-container">
        <a class="hero-scroll" href="#Footer">scroll down</a>
        <a class="hero-scroll-icon" href="#Footer">
          <svg class="hero-scroll-svg" width="22" height="22">
            <use href="./images/icons.svg#icon-scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
