<section id="him-section">
  <h2 class="him-heading">how it's <span class="him-span">made?</span></h2>
  <div class="him-container">
    <div class="him-video">
      <iframe src="./images/how-its-made/how-its-made-video.mp4"> </iframe>
      <!--             <svg> -->
      <!--                 <use href="images/icons.svg#icon-play"></use> -->
      <!--             </svg> -->
    </div>
    <div class="him-recipe">
      <h3 class="him-recipe-heading">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="him-ul">
        <li class="him-li">
          <p class="him-p">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
          </p>
        </li>
        <li class="him-li">
          <p class="him-p">At the same time, prepare a water bath. Melt the butter on it.</p>
        </li>
        <li class="him-li">
          <p class="him-p">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula
            so that the mass becomes uniform and silky.
          </p>
        </li>
        <li class="him-li">
          <p class="him-p">Heat the mixture over low heat, letting it barely boil.</p>
        </li>
        <li class="him-li">
          <p class="him-p">
            Pour the chocolate into special containers (can be replaced with ice molds). Allow to
            cool and harden.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
