<div class="modal-subscribe-backdrop is-hidden" data-modal-subscribe>
  <div class="modal-subscribe">
    <div>
     <!-- <button type="button" class="modal-subscribe-x-button" data-modal-subscribe-close> -->
        <svg class="modal-subscribe-icon" width="24" height="24" viewBox="0 0 8 8" data-modal-subscribe-close>
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      <!-- </button> -->
    </div>
    <div class="modal-subscribe-inputs">
      
      <p class="modal-subscribe-form-p">Explore our<br /><span>new chocolate</span> first!</p>
      <form class="modal-subscribe-form" >
        <div class="modal-subscribe-input-div">
        <label  for="modal-subscribe-email">
          
            <input type="email" name="email" id="modal-subscribe-email" required placeholder="Enter your email"/>
            
        </label>
          <button type="submit" class="modal-subscribe-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
