<section
  class="splide products-section container"
  aria-labelledby="slides-heading"
  id="Our-products"
>
  <h2 class="products-heading" id="slides-heading">
    Our <span class="products-part-heading">Products</span>
  </h2>
  <div class="splide__track">
    <ul class="splide__list products-list">
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/orange-dark-choc@1x.jpg"
            alt="orange dark chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/orange-dark-choc@1x.jpg 1x,
              ./images/our-products/orange-dark-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Orange</p>
          <p class="product-type">Dark chocolate</p>
          <div class="product-price"><p>45 uah</p></div>
        </div>
      </li>

      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/apple-milk-choc@1x.jpg"
            alt="apple and cranberry milk chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/apple-milk-choc@1x.jpg 1x,
              ./images/our-products/apple-milk-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Apple&cranberry</p>
          <p class="product-type">Milk chocolate</p>
          <div class="product-price"><p>50 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/lime-dark-choc@1x.jpg"
            alt="lime and sea salt dark chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/lime-dark-choc@1x.jpg 1x,
              ./images/our-products/lime-dark-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Lime&sea salt</p>
          <p class="product-type">Dark chocolate</p>
          <div class="product-price"><p>66 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/pineapple-dark-choc@1x.jpg"
            alt="orange dark chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/pineapple-dark-choc@1x.jpg 1x,
              ./images/our-products/pineapple-dark-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Pineapple</p>
          <p class="product-type">Dark chocolate</p>
          <div class="product-price"><p>54 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/classic-milk-choc@1x.jpg"
            alt="classic milk chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/classic-milk-choc@1x.jpg 1x,
              ./images/our-products/classic-milk-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Classic</p>
          <p class="product-type">Milk chocolate</p>
          <div class="product-price"><p>45 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/honey-milk-choc@1x.jpg"
            alt="honey milk chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/honey-milk-choc@1x.jpg 1x,
              ./images/our-products/honey-milk-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Honey</p>
          <p class="product-type">Milk chocolate</p>
          <div class="product-price"><p>50 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/roasted-dark-choc@1x.jpg"
            alt="roasted fruits dark chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/roasted-dark-choc@1x.jpg 1x,
              ./images/our-products/roasted-dark-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Roasted fruits</p>
          <p class="product-type">Dark chocolate</p>
          <div class="product-price"><p>66 uah</p></div>
        </div>
      </li>
      <li class="splide__slide products-tile">
        <div class="splide__slide__container tile-wrapper">
          <img
            src="./images/our-products/classic-white-choc@1x.jpg"
            alt="classic white chocolate photo"
            width="230"
            height="201"
            srcset="
              ./images/our-products/classic-white-choc@1x.jpg 1x,
              ./images/our-products/classic-white-choc@2x.jpg 2x
            "
          />
          <p class="product-name">Classic</p>
          <p class="product-type">White chocolate</p>
          <div class="product-price"><p>54 uah</p></div>
        </div>
      </li>
    </ul>
  </div>
</section>
