<section class="reviews container" id="Chocolate-is-loved">
  <div class="splide slider-wrapper" aria-labelledby="slides-heading2" id="slider2">
    <h2 class="reviews-title" id="slides-heading2">
      <span class="reviews-span">CHOCOLATE</span> IS LOVED
    </h2>
    <div class="splide__track reviews-slider-container">
      <ul class="splide__list reviews-slider">
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/victoria-img@1x.png"
              alt="victoria dobrzhanska"
              srcset="
                ./images/reviews/victoria-img@1x.png 1x,
                ./images/reviews/victoria-img@2x.png 2x
              "
            />
            <h4 class="reviewer-name">Victoria Dobrzhanska</h4>
            <p class="reviews-description">
              I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
              thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/nazar-img@1x.png"
              alt="Nazar Babenko"
              srcset="./images/reviews/nazar-img@1x.png 1x, ./images/reviews/nazar-img@2x.png 2x"
            />
            <h4 class="reviewer-name">Nazar Babenko</h4>
            <p class="reviews-description">
              This chocolate confection is a delight! A delight! The wafer is light and crisp, the
              hazelnut cream is smooth, and the chocolate is good.
            </p>
          </div>
        </li>
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/olena-img@1x.png"
              alt=" Olena Kampusch"
              srcset="./images/reviews/olena-img@1x.png 1x, ./images/reviews/olena-img@2x.png 2x"
            />
            <h4 class="reviewer-name">Olena Kampusch</h4>
            <p class="reviews-description">
              Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
              creaminess inside. The wafer is soft but crunchy.
            </p>
          </div>
        </li>
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/natalia-img@1x.png"
              alt="Natalia Sus"
              srcset="
                ./images/reviews/natalia-img@1x.png 1x,
                ./images/reviews/natalia-img@2x.png 2x
              "
            />
            <h4 class="reviewer-name">Natalia Sus</h4>
            <p class="reviews-description">
              The chocolate assortment was delicious. Both dark and milk chocolate pieces were
              smooth and just right on the sweetness level.
            </p>
          </div>
        </li>
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/danilo-img@1x.png"
              alt="Danilo Nottingham"
              srcset="./images/reviews/danilo-img@1x.png 1x, ./images/reviews/danilo-img@2x.png 2x"
            />
            <h4 class="reviewer-name">Danilo Nottingham</h4>
            <p class="reviews-description">
              This is delicious. It so rich and flavorful you don’t need to use as many. I love
              topping an apple with almond butter and these chips for a snack.
            </p>
          </div>
        </li>
        <li class="splide__slide reviews-slide">
          <div class="splide__slide__container tile-wrapper-rev">
            <img
              class="reviewer-photo"
              src="./images/reviews/irina-img@1x.png"
              alt="Irina Tydnyuk"
              srcset="./images/reviews/irina-img@1x.png 1x, ./images/reviews/irina-img@2x.png 2x"
            />
            <h4 class="reviewer-name">Irina Tydnyuk</h4>
            <p class="reviews-description">
              This is simply the best chocolate around, and I'm just thrilled to support a local
              company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="rev-button-wrapper">
    <button class="reviews-btn button button-position" type="button" data-modal-reviews-open>
      Leave a review
    </button>
  </div>
</section>
