<section class="top-sellers container" id="Top-sellers">
  <h2 class="top-sellers-title"><span class="top-sellers-title-top">TOP </span>SELLERS</h2>
  <ul class="list top-sellers-images">
    <li>
      <img
        class="top-sellers-img"
        src="./images/top-sellers/top-sellers-img1-mobile@1x.jpg"
        alt="pieces of chocolate,loose coffee beans and haelnut"
        width="320"
        height="464"
        srcset="
          ./images/top-sellers/top-sellers-img1-mobile@1x.jpg 1x,
          ./images/top-sellers/top-sellers-img1-mobile@2x.jpg 2x
        "
      />
    </li>
    <li class="top-sellers-text-mobile">
      <p>
        Crazy enough chocolate orginates from a bean just like the coffee bean called Cacao. Cacao
        has been around for thousands of years and was first discovered by the Native American tribe
        called the Mayans.
      </p>
    </li>
    <li>
      <img
        class="top-sellers-img"
        src="./images/top-sellers/top-sellers-img2-mobile@1x.jpg"
        alt="pieces of fruit and nuts chocolate"
        width="320"
        height="464"
        srcset="
          ./images/top-sellers/top-sellers-img2-mobile@1x.jpg 1x,
          ./images/top-sellers/top-sellers-img2-mobile@2x.jpg 2x
        "
      />
    </li>
    <li>
      <img
        class="top-sellers-img-last"
        src="./images/top-sellers/top-sellers-img3-desktop@1x.jpg"
        alt="pieces of chocolate, finger chocolate and round chocolate ball
              stuck on top of eachother"
        width="320"
        height="464"
        srcset="
          ./images/top-sellers/top-sellers-img3-desktop@1x.jpg 1x,
          ./images/top-sellers/top-sellers-img3-desktop@2x.jpg 2x
        "
      />
    </li>
  </ul>
  <div class="top-sellers-description-button">
    <p class="top-sellers-text-desktop">
      Crazy enough chocolate orginates from a bean just like the coffee bean called Cacao. Cacao has
      been around for thousands of years and was first discovered by the Native American tribe
      called the Mayans.
    </p>
    <div class="button-wrapper">
      <button class="button-buy-now show-modal" type="button" data-modal-top-open>Buy now</button>
    </div>
  </div>
</section>
