<section class="unique-section container">
  <div class="unique-title-wrapper">
    <h2 class="unique-h2">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-h2-color">TASTE</span> SENSATION
    </h2>
    <p class="unique-paragraph">
      At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
      From the sourcing of the finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste sensation.
    </p>
  </div>
  <div class="unique-list-wrapper">
    <ul class="unique-list">
      <li class="flip-card card-one">
        <div class="flip-card-inner">
          <div class="flip-card-front front-one">
            <img
              class="unique-img"
              src="./images/unique-components/mobile-unique-chocolate-bar.png"
              width="224px"
              height="171px"
              alt="photo of chocolate"
              srcset="
                ./images/unique-components/mobile-unique-chocolate-bar.png    1x,
                ./images/unique-components/mobile-unique-chocolate-bar@2x.png 2x
              "
            />
            <p class="unique-front-title-white">milk chocolate</p>
          </div>
          <div class="flip-card-back">
            <h3 class="unique-back-title">milk chocolate</h3>
            <button class="back-button button-one" type="button">
              <p>chocolate</p>
            </button>
            <button class="back-button button-two" type="button">
              <p>the benefits</p>
            </button>
            <p class="unique-back-paragraph">
              Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It
              is the most consumed type of chocolate. Chocolate was originally sold and consumed as
              a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold
              in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card card-two">
        <div class="flip-card-inner">
          <div class="flip-card-front front-two">
            <img
              class="unique-img"
              src="./images/unique-components/mobile-unique-milk.png"
              width="224px"
              height="171px"
              alt="photo of chocolate"
              srcset="
                ./images/unique-components/mobile-unique-milk.png    1x,
                ./images/unique-components/mobile-unique-milk@2x.png 2x
              "
            />
            <p class="unique-front-title-black">milk</p>
          </div>
          <div class="flip-card-back">
            <h3 class="unique-back-title">milk</h3>
            <button class="back-button button-one" type="button">
              <p>milk</p>
            </button>
            <button class="back-button button-two" type="button">
              <p>the benefits</p>
            </button>
            <p class="unique-back-paragraph">
              Milk is a white liquid food produced by the mammary glands of mammals. It is the
              primary source of nutrition for young mammals (including breastfed human infants)
              before they are able to digest solid food.Early-lactation milk, which is called
              colostrum, contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card card-three">
        <div class="flip-card-inner">
          <div class="flip-card-front front-three">
            <img
              class="unique-img"
              src="./images/unique-components/mobile-unique-nut.png"
              width="224px"
              height="171px"
              alt="photo of chocolate"
              srcset="
                ./images/unique-components/mobile-unique-nut.png    1x,
                ./images/unique-components/mobile-unique-nut@2x.png 2x
              "
            />
            <p class="unique-front-title-white">nuts</p>
          </div>
          <div class="flip-card-back">
            <h3 class="unique-back-title">nuts</h3>
            <button class="back-button button-one" type="button">
              <p>nuts</p>
            </button>
            <button class="back-button button-two" type="button">
              <p>the benefits</p>
            </button>
            <p class="unique-back-paragraph">
              Almonds, pistachios, and walnuts are some types of nuts that contain healthy
              nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer
              benefits such as reducing your risk of heart disease. They’re a good source of fiber,
              healthy fats, and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card card-four">
        <div class="flip-card-inner">
          <div class="flip-card-front front-four">
            <img
              class="unique-img"
              src="./images/unique-components/mobile-unique-chocolate-beans.png"
              width="224px"
              height="171px"
              alt="photo of chocolate"
              srcset="
                ./images/unique-components/mobile-unique-chocolate-beans.png    1x,
                ./images/unique-components/mobile-unique-chocolate-beans@2x.png 2x
              "
            />
            <p class="unique-front-title-black">semi - sweet chocolate</p>
          </div>
          <div class="flip-card-back">
            <h3 class="unique-back-title">semi - sweet chocolate</h3>
            <button class="back-button button-one" type="button">
              <p>sweet chocolate</p>
            </button>
            <button class="back-button button-two" type="button">
              <p>the benefits</p>
            </button>
            <p class="unique-back-paragraph">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to
              gain an understanding of this type of chocolate is to compare it to a different type
              of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a
              slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
