.products-section.splide {
  padding-left: 20px;
  margin-top: 72px;
  margin-bottom: 72px;
}

.products-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--mobile-title-font-size);
  font-weight: var(--bold-weight);
  line-height: 1.2;
  letter-spacing: -0.038rem;
  margin-bottom: 32px;
}

.products-part-heading {
  color: var(--carrot-orange-color);
}

.products-list.splide__list {
  list-style: none;
  margin: 0;
  gap: 18px;
}

.tile-wrapper.splide__slide__container {
  padding: 32px 52px;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 1px solid var(--smoky-transparent-black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.products-tile.splide__slide {
  max-width: fit-content;
}

.product-name {
  color: var(--smoky-black-color);
  font-size: var(--sub-title-font-size);
  font-weight: var(--bold-weight);
  line-height: 1.33;
  letter-spacing: -0.023rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product-type {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.015rem;
  margin: 2px 0 18px 0;
}

.product-price {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid var(--smoky-transparent-black-color);
  background-color: var(--snow-color);
  color: var(--smoky-black-color);
  font-size: var(--description-font-size);
  font-weight: var(--bold-weight);
  text-transform: uppercase;
  text-align: center;
}

.splide__pagination {
  position: static;
  margin-top: 20px;
}

.splide__pagination__page {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
  transition-property: background, width, border-radius;
}

.splide__pagination__page.is-active {
  background: orange;
  opacity: 1;
  width: 28px;
  border-radius: 100px;
  transform: none;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .products-section.splide {
    padding-left: 33px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .products-heading {
    font-size: var(--title-font-size);
    line-height: 1.16;
    letter-spacing: -0.045rem;
    margin-bottom: 50px;
  }

  .tile-wrapper.splide__slide__container {
    padding: 32px 20px;
  }

  .splide__pagination {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section.splide {
    margin-top: 128px;
    margin-bottom: 128px;
  }
}
